@font-face {
  font-family: "Rowdies";
  src: local("Rowdies"), url(./assets/Rowdies-Light.ttf);
}

@font-face {
  font-family: "Rowdies";
  font-weight: bold;
  src: local("Rowdies"), url(./assets/Rowdies-Regular.ttf);
}

:root {
  --red-color: #ff0101;
  --gold-color: #fe9b06;
  --grey-color: #1a1f24;
  --fadingGrey-color: rgba(26, 31, 35, 0.85);
}

body {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-family: "Rowdies", sans-serif;
  overflow-y: hidden;
  height: 100vh;
}

/* CSS DU POPUP ALERTE */
.alert {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 400px;
  position: fixed;
  top: 25%;
  z-index: 50;
  background-color: var(--fadingGrey-color);
}

.alert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 250px;
  background-color: var(--red-color);
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  margin: 150px auto;
  box-shadow: -1px 2px 1.5px var(--grey-color);
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--red-color);
  border-radius: 25px;
  color: white;
  width: 110px;
  padding: 8px;
  transition: 0.5s ease;
}

button:hover {
  background-color: var(--grey-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
